/* Flexboxs setup */
.form-login{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
 
 }
 .form-login div{
   border:1px solid red;
   width:100%;
  
   
 }
 .login-and-signup{
   display:flex;
   justify-content: flex-end;
   align-items: center;
 }
 .login-and-signup div{
   border:1px solid green;
   flex-basis: 14;//width
   height:5em;
 }
 .remember-me{
   display:flex;
 
 }
 .remember-me div{
   flex-basis: 8;
  border:1px solid green;
 
 }
 /**************/
 
 .form-login ion-toolbar {
   --background: #0A2456;
 }
 .form-login ion-toolbar  ion-title,.form-login ion-item-divider ,.form-login ion-item {
   color:#fff;
   background-color: #0A2456;
   --background: #0A2456;
 }
 .form-login ion-item ion-input {
   --background: #0A2456;
   --color:#fff;
 }
 
 /*Buttons*/
 .form-btn-signup ion-button {
   
 --height: 70px;
 --border-radius: 50%;
 --vertical-align: middle;
 --padding-start: 10px;
 --padding-end: 10px;
 
 }
 .form-btn-signup,.form-btn-login{
   margin-top: -28px;
 }
 .form-btn-signup{
   margin-top: -28px; 
   margin-right:-9px ;
 }
 .forget-password{
   height:100px;
   background-color: #0A2456;
 }
 .form-btn-login ion-button {
   
   --height: 70px;
   --border-radius: 50%;
   --vertical-align: middle;
   --padding-start: 10px;
   --padding-end: 10px;
   }
 
   /****SignUp Form******/
   .remember-div div{
     border:1px solid #fff;
     padding:10px;
     color: #d4ceced5;
     justify-content: space-between;
 
   }
   .remember-div{
     display: flex;
  
 }
 
 