@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Flexboxs setup   login-password  */
.form-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 .form-login div{
   border:1px solid  #0A2456;
   flex-basis: 10;
   align-items: center;
   background-color: #0A2456;;
   flex: 0 1 auto;
   text-align: center;
 }
 .login-and-signup{
   display:flex;
   justify-content: flex-end;
   align-items: center;
 }
 .login-and-signup div{
   flex-basis: 14;//width
   height:5em;
 }

 /**************/
.thanks ion-label{
  color:#0A2456;

}
.thanks{
font-size: 1.1em;


}

 /*Buttons*/
   /*Buttons*/
   .form-btn-signup ion-button {
     
    --height: 70px;
    --border-radius: 50%;
    --vertical-align: middle;
    --padding-start: 10px;
    --padding-end: 10px;
    --background: #fff;
    --color:black;
    }
    .form-btn-signup,.form-btn-login{
      margin-top: -28px;
    }
    .form-btn-signup{
      margin-top: -24px;
      margin-right:-9px ;
    }
    .forget-password{
      height:100px;
      background-color: #0A2456;
    }
    .form-btn-login ion-button {
      
      --height: 70px;
      --border-radius: 50%;
      --vertical-align: middle;
      --padding-start: 10px;
      --background: #0A2456;
      margin-right: -3px;
      --color:#fff;
    
      }
     
      /*The year area*/

      .container-yeah{
        display: flex;
        flex-direction: column;
      }
      .container-yeah div{
        border:1px solid white;
       
      }
      .yeah ion-label{
        font-weight: bolder;
        font-size: 2em;
        color: #0A2456;
        font-style: oblique;

      }
      .yeah,.check-email{  text-align: center;}

      .year{
           margin-top: 200px;
      }
      
      .successfully,.check-email{
        color:#A6ACAF;
        text-align: center;
        font-style: oblique;
        
      }
      .icon{
        margin-top: 150px;
        text-align: center;
   
      }
    
      .home{
        font-weight: bolder;
        text-align: center;
        color: #0A2456;
      }
      

      .login-and-signup{
        margin-bottom: 120px;
      }