

<ion-content [fullscreen]="true">


  <ion-content>
  
    <div class="form-login">
      <div class="thanks">
        <ion-label>Thanks for logging-in</ion-label>
      </div>
    </div>
    <div class="login-and-signup">
      <div class="form-btn-signup">
        <ion-button  size="large" small shape="round" fill="clear" type="submit"  expand="block" >
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </div>
      <div class="form-btn-login">
        <ion-button  size="large" small shape="round"  fill="clear"  type="submit"  expand="block">
          <ion-icon name="person-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
   <div class="container-yeah">
    
     <div class="yeah">
         <ion-label> Yeah..!</ion-label>
     </div>
     <div class="successfully">
      <ion-label>  Signup successfully.!</ion-label>
    </div>
    <div class="check-email">
      <ion-label>Please check your Email.</ion-label>
    </div>
    <div class="icon">
      <i class='fas fa-home' style='font-size:48px;color: #0A2456'></i>
     
</div>
<div class="home">
  <ion-label> Home</ion-label>
</div>
</div>
  </ion-content>
  
  
  



