@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Flexboxs setup   login-password  */
.form-login{
  display: flex;
  flex-direction: column;
  justify-content: center;


 
 }
 .form-login div{
   border:1px solid  #0A2456;
   flex-basis: 10;
   align-items: center;
   background-color: #0A2456;;
   flex: 0 1 auto;
   text-align: center;
 }
 .login-and-signup{
   display:flex;
   justify-content: flex-end;
   align-items: center;
 }
 .login-and-signup div{
   flex-basis: 14;//width
   height:5em;
 }

 /**************/
 
  .welcome ion-label{
  color: white;
  font-style: oblique;
  font-weight: bold;
}
.thanks ion-label{
  color: #a4b0c3;
  font-style: oblique;
}
.welcome{
  font-size: 2em;
  border:1px solid white;
  font-family: 'Open Sans', sans-serif;
}
.thanks{
  border:1px solid white;
font-size: 1em;
height:305px;
color:#3a4d70;
}
.img-holder{
 padding-top: 30%;
 
}
   ion-img{
    height: 30vh; 
   
}

 .form-login ion-toolbar {
   --background: #0A2456;
 }
 .form-login ion-toolbar  ion-title,.form-login ion-item-divider ,.form-login ion-item {
   color:#fff;
   background-color: #0A2456;
   --background: #0A2456;
 }
 .form-login ion-item ion-input {
   --background: #0A2456;
   --color:#fff;
 }
 /*Buttons*/
   /*Buttons*/
   .form-btn-signup ion-button {
     
    --height: 70px;
    --border-radius: 50%;
    --vertical-align: middle;
    --padding-start: 10px;
    --padding-end: 10px;
    --background: #fff;
    --color:black;
    }
    .form-btn-signup,.form-btn-login{
      margin-top: -28px;
    }
    .form-btn-signup{
      margin-top: -28px;
      margin-right:-9px ;
    }
    .forget-password{
      height:100px;
      background-color: #0A2456;
    }
    .form-btn-login ion-button {
        
      --height: 70px;
      --border-radius: 50%;
      --vertical-align: middle;
      --padding-start: 10px;
      --background: #0A2456;
      margin-right: -3px;
      --color:#fff;
    
      }
     
      .form-btn-login ion-button a ion-icon{
        color:white;
        font-weight: bold;
      }

