

<ion-content [fullscreen]="true">


  <ion-content>
  
    <div class="form-login">
    
      <div class="img-holder">      

        <ion-img src="https://mail.google.com/mail/u/0?ui=2&ik=d09dfa00ae&attid=0.1&permmsgid=msg-a:r4134218614947396130&th=1753078d02e404a2&view=att&disp=safe&realattid=f_kgbz6e630"></ion-img>
        
    </div>  
      <div class="welcome">
        <ion-label>Welcome.!</ion-label>
      </div>
      <div class="thanks">
        <ion-label>Thanks for logging-in</ion-label>
      </div>
    </div>
    
  
    <div class="login-and-signup">
      <div class="form-btn-signup">
       <a href="/login"><ion-button  size="large" small shape="round" fill="clear" type="submit"  expand="block" ><ion-icon name="home-outline"></ion-icon></ion-button></a> 
      </div>
      <div class="form-btn-login">
        <ion-button  size="large" small shape="round"  fill="clear"  type="submit"  expand="block">
          <a href="/login"><ion-icon name="close-outline"></ion-icon></a> 
        </ion-button>
      </div>
    </div>



 
  
  </ion-content>
  
  
  


