/* Flexboxs head */
.form-login{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
 
 }
 .form-login div{
   width:100%;
 }
 .login-and-signup{
   display:flex;
   justify-content: flex-end;
   align-items: center;
 }
 .login-and-signup div{
 
   flex-basis: 14;//width
   height:5em;
 }
 .remember-me{
   display:flex;
 
 }
 .remember-me div{
   flex-basis: 8;
  border:1px solid green;
 
 }
 /**************/
 
 .form-login ion-toolbar {
   --background: #0A2456;
 }
 .form-login ion-toolbar  ion-title,.form-login ion-item-divider ,.form-login ion-item {
   color:#fff;
   background-color: #0A2456;
   --background: #0A2456;
 }
 .form-login ion-item-divider,.login-password ion-item-divider{
   border: 1px solid #0A2456;
 }
 .form-login ion-item ion-input {
   --background: #0A2456;
   --color:#fff;

 }
 .form-login ion-item ion-input {
  border: 4px solid #0A2456; 
 }
 .form-login ion-item-divider{
  border: 4px solid #0A2456; 
 }
 /*Buttons*/
 .form-btn-signup ion-button {
   
 --height: 70px;
 --border-radius: 50%;
 --vertical-align: middle;
 --padding-start: 10px;
 --padding-end: 10px;
 --background: #fff;
 --color:black;
 }
 .form-btn-signup,.form-btn-login{
   margin-top: -28px;
 }
 .form-btn-login{
   margin-right:-4px;
 }
 .form-btn-signup{
   margin-top: -28px;

   
  margin-right:-5px ;
 }
 .forget-password{
   height:100px;
   background-color: #0A2456;
 }
 .form-btn-login ion-button {
   --height: 70px;
   --border-radius: 50%;
   --vertical-align: middle;
   --padding-start: 10px;
   --padding-end: 10px;
   --background:  #0A2456;
   --color:#fff;
  }
 
   /****SignUp Form******/
   .remember-div div{
     border:1px solid #fff;
     padding:10px;
     color: #d4ceced5;
     justify-content: space-between;
 
   }
   .remember-me ion-list ion-item ion-label{
    color: #a2a4a5;
   }
   .remember-me ion-list ion-item  ion-checkbox{
    --color:  #a2a4a5;
   }

   .remember-div{
     display: flex;
  
 }
 .remember-me ion-item{
   border-bottom:1px solid white;
   color:#a2a4a5;   
 }
 /******STyleing*****/
 .signup-head{
  width:98%;
  margin-left: 1%;
 
 }

.login-head ion-toolbar {
  padding-top: 10px;
  padding-bottom: 10px;
 

}
.login-head ion-toolbar ion-title{
  font-weight: bolder;
  border:10x solid  none;
}
.login-email ion-item-divider ion-label,.login-password ion-item-divider ion-label,.forget-password ion-item-divider ion-label a{
  color: #47608d;
  text-decoration: none;
}
.login-email ion-item ion-label,.login-password ion-item ion-label{
  color: #47608d;
  font-size: 1em;;
  padding-top:15px;
  padding-bottom:15px;
  padding-left: 1%;;
  text-decoration: none;
}

 ion-input{ 
  width: 95%;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;}
/**********Signup*************/
.signup-head ion-toolbar ion-title{
  font-weight: bolder;
 
}

.signup-email ion-label,.signup-password  ion-label{
  color:#a2a4a5;
  width:94%;
  margin-left: 1%;
}
.signup-email ion-item,.signup-password ion-item{
 
  width:95%;
  margin-left: 2.5%;
}
.signup-email ion-item-divider,.signup-password ion-item-divider {
  border:10px solid #fff;
}

ion-checkbox{
  background-color: #050579;;
}

