

<ion-content [fullscreen]="true">


  <ion-content>
  
    <div class="form-login">
      <div class="login-head">
          <ion-toolbar >
            <ion-title>Login</ion-title>
          </ion-toolbar>
      </div>
      <div class="login-email">             
        <ion-item-divider>
          <ion-label >
            Email address
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-input  name="name" type="email" placeholder="Password"  required></ion-input>
        </ion-item>
      </div>
      <div class="login-password">     
        <ion-item-divider>
        <ion-label>
          Password
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-input name="Password" type="password" placeholder="Password"  required></ion-input>
      </ion-item>
    </div>  
      <div class="forget-password">
        <ion-item-divider>
          <ion-label>
            <a href="#">Forgot Password?</a>
          </ion-label>
        </ion-item-divider>
      </div>
    </div>


  
    <div class="login-and-signup">
      <div class="form-btn-signup">
        <a href="/welcome">  <ion-button  size="large" small shape="round" fill="clear" type="submit"  expand="block" ><ion-icon name="chevron-down-outline"></ion-icon></ion-button></a>
      </div>
      <div class="form-btn-login">
        <a href="/successful"> <ion-button  size="large" small shape="round"  fill="clear"  type="submit"  expand="block"><ion-icon name="chevron-up-outline"></ion-icon></ion-button></a>
      </div>
    </div>
  
    <div class="form-signup">
      <div class="signup-head">
          <ion-toolbar >
            <ion-title>Signup</ion-title>
          </ion-toolbar>
      </div>
      <div class="signup-email">
        <ion-item-divider>
          <ion-label >
            Email address
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-input  name="name" type="email" placeholder="Email address"  required></ion-input>
        </ion-item>
      </div>
      <div class="signup-password">     
        <ion-item-divider>
        <ion-label>
          Password 
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-input name="Password" type="password" placeholder="Password"  required></ion-input>
      </ion-item>
    </div>
    <div class="remember-me" > 
      <ion-list>
        <ion-item >
          <ion-label>Remember Me</ion-label>
          <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
      </ion-list>
   </div> 
    </div>
  
  </ion-content>
  
  
  

</ion-content>
