

<ion-content [fullscreen]="true">


  
 
    <div class="form-login">
      <div class="login-head"  style="background-color:  #0A2456; border:3px solid #0A2456">
          <ion-toolbar >
            <ion-title>Login</ion-title>
          </ion-toolbar>
      </div>
      <div class="login-email">             
          <ion-item>
            <ion-label  name="name" type="email" position="floating"> Email Address</ion-label>
            <ion-input></ion-input>
          </ion-item>
      </div>
      <div class="login-password">     
        <ion-item>
          <ion-label  name="name" type="Password" position="floating"> Password</ion-label>
          <ion-input></ion-input>
        </ion-item>
    </div>  
      <div class="forget-password">
        <ion-item-divider>
          <ion-label>
            <a href="#">Forgot Password?</a>
          </ion-label>
        </ion-item-divider>
      </div>
    </div>


  
    <div class="login-and-signup">
      <div class="form-btn-signup">
        <a href="/welcome">  <ion-button  size="large" small shape="round" fill="clear" type="submit"  expand="block" ><ion-icon name="chevron-down-outline"></ion-icon></ion-button></a>
      </div>
      <div class="form-btn-login">
        <a href="/successful"> <ion-button  size="large" small shape="round"  fill="clear"  type="submit"  expand="block"><ion-icon name="chevron-up-outline"></ion-icon></ion-button></a>
      </div>
    </div>
  
    <div class="form-signup">
      <div class="signup-head">
          <ion-toolbar >
            <ion-title>Signup</ion-title>
          </ion-toolbar>
      </div>
      <div class="signup-email">
        <ion-item>
          <ion-label  name="name" type="email" position="floating"> Email address</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </div> 
      <div class="signup-password">     
        <ion-item>
          <ion-label  name="name" type="password" position="floating"> Password</ion-label>
          <ion-input></ion-input>
        </ion-item>
    </div>
    <div class="remember-me" > 
      <ion-list>
        <ion-item >
          <ion-label>Remember Me</ion-label>
          <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
      </ion-list>
   </div> 
    </div>
  
  </ion-content>
  
  
  


